<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div th:switch="${students}" class="container my-5">
            <p class="my-5">
                <a href="/add" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Add Users </i></a>
            </p>
           <form action="/student" >
  <label for="search">Search:</label>
  <input type="number" id="search" name="id">
  <input type="submit" value="Submit">
</form>
           <div class="col-md-10">
            <h2 th:case="null">No record found !!</h2>    
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                            <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>photo</th>
                                <th>Projects</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="User : ${students}">
                            <td th:text="${User.id}"></td>
                                <td th:text="${User.fname}"></td>
                                <td th:text="${User.lname}"></td>
                                 <td th:text="${User.contact}"></td>
                                <td th:text="${User.emailId}"></td>
                                 <td><img th:src="@{${'/student-photos/'+User.id+'/'+User.photo}}" style="width:100px; height: 100px"/>  </td>            
                                <td>
				<span th:each="project,iterStat : ${User.projects}">
					<span th:text="${project.projectName}"/><th:block th:if="${!iterStat.last}">,</th:block>
				</span>    		
    		</td>
    		<td>
        <a th:href="@{/add/{id}(id=${User.id})}" class="btn btn-success btn-xs">Add Project</a>
        
    </td>
            <td>
                                    <a th:href="@{/delete/{id}(id=${User.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>                      
                         
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
    <div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
</body>

</html>